.login_body {
    margin: 0;
    padding: 0;
    background-color: #f0f2f5;
    font-family: Arial, sans-serif;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.center-box {
    background-color: #ffffff;
    padding: 40px;
    border-radius: 15px;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.15);
    text-align: center;
    width: 350px;
    border: 1px solid #ddd;
}

.title {
    margin-bottom: 25px;
    font-size: 26px;
    color: #333;
}

.form {
    display: flex;
    flex-direction: column;
}

.input {
    margin-bottom: 15px;
    padding: 12px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 8px;
}

.button {
    padding: 12px;
    font-size: 16px;
    background-color: #4a90e2;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: #357ab8;
}

.button-group {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.button-group .button {
    flex: 1;
}

.main_header { 
    position: sticky;
    top: 0;
    padding: 20px 16px;
    background: black;
    color: #ffffff;
    z-index: 1000;
}

.header_divider {
    border: none;
    height: 5px;
    background-color: white; 
    margin: 0;
}

.header_container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.logo {
    height: 60px;
    width: auto;
    margin-left: 20px;
}

.header_content {
    text-align: center;
    flex-grow: 1;
    margin: 0;
}

.nav_links {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 15px;
}

.header_link {
    color: #FFFFFF;
    text-decoration: none;
    font-size: 18pt;
}

.header_link:hover {
    text-decoration: underline;
}

.profile_pic {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 20px;
}